* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.call {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.call {
  width: 40px;
  height: 40px;
}
